@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Public Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-fuchsia: #d946ef;
  --color-dark-grey: #18181b;
  --color-sage: #9caf88;
  --color-terracotta: #e2725b;
  --color-bright-green: #4ade80;
  --color-hot-pink: #f43f5e;

  --color-primary: var(--color-fuchsia);
  --color-secondary: var(--color-sage);
  --color-accent: var(--color-hot-pink);
  
  --color-background-light: #ffffff;
  --color-background-dark: var(--color-dark-grey);
  --color-warning: var(--color-terracotta);
  --color-danger: var(--color-hot-pink);
}
